*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: #2B807B;
    transition: all .50s ease;
}
.centrar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
    #ColorViejo{
        left: 16%;
    }
    #ColorNuevo{
        right: 16%;
    }

    .caja{
        position: fixed;
        width: 180px;
        padding: 15px;
        background-color: white;
        border-radius: 30px;
        text-align: center;
        box-shadow: 0 0 30px white;
        border: 2px solid white;

        display: none;
    }
        .caja1{
            top: 20vh;
        }
        .caja2{
            top: 70vh;
        }

#contenedor{
    padding: 20px;
    min-height: 5%;
    min-width: 10%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 30px white;

    transition: transform .30s ease;
} 
    #contenedor:hover{
        transform: translateY(-8px);
        box-shadow: 0 0 20px white;
    }
#botoncolor{
    padding: 10px;
    text-decoration: none;
    font-family: serif;
    font-weight: bold;
    font-size: 17px;
    color: #2B807B;
    background-color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 20px #2B807B;

    transition:  all .20s ease;
    cursor: pointer;
}
    #botoncolor:hover{
        color: black;
        box-shadow: 0 0 20px black;
        transform: translateY(-6px);
    }